<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>Dashboard - SpartanData</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="{% url 'login_home' %}">SpartanData</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'login' %}">Login</a></li>
						<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h3>Model Selection</h3>
						<select id="modelSel" name="modelSelection">
							<option value="Random Forest">Random Forest</option>
  							<option value="KNN Clustering">KNN Clustering</option>
							  <option value="Naive Bayes">Naive Bayes</option>
						</select>
						<br>
						<br>
						<h3>Select Attribute</h3>
							<h5 id="attributes">{{ attributes }}</h5>
  						<div id ="container"></div>
							<div>
    						<button id="submit">Select Attributes for Training</button>
  						</div>
						<!--<button type="button">Generate Graph</button> Create popup-->
					</header>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script>
			$( document ).ready(function() {
				var attributeClicked = false



				$('#submit').click(function (){
					document.getElementById('attributes');
					var checkbox = document.createElement('input')
					console.log(select);
					console.log(typeof select);
					var newOptions = select.replace(/['"]+/g,'').replace('[','').replace(']','').replace(' ','').split(",");
					console.log(newOptions);
					var selectedOption = newOptions[0];

					var select2 = document.getElementById("attributeSel");
					if (attributeClicked == false) {
						$.each(newOptions, function(text, value) {
							select2.appendChild(new Option(value, value));
						});
					}

					attributeClicked = true
					console.log(selectedOption);
				});
			});
			</script>

			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script src="{% static 'assets/js/graphs.js' %}"></script>

	</body>
</html>
