<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>Dashboard - SpartanData</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>

	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="{% url 'login_home' %}">SpartanData</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'login' %}">Login</a></li>
						<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h3>Attribute Selection</h3>
						<br>
						<label class="dropdown">

							<div class="dd-button">
							  Dropdown
							</div>
							<input type="checkbox" class="dd-input" id="test">

							<ul class="dd-menu">
							  <li>Action</li>
							  <li>Another action</li>
							  <li>Something else here</li>
							  <li class="divider"></li>
							</ul>

						  </label>
						<br>
						<h3> Select Range</h3>
						<br>
						<input type="range" multiple value="0, 100" />
						<br>
						<input type="submit" class="btn" value="Mean" name="meanbtn">
						<br>
						<br>
						<input type="submit" class="btn" value="Median" name="medianbtn">
						<br>
						<br>
						<input type="submit" class="btn" value="Mode" name="modebtn">
						<br>
						<br>
						<h3>{{ attributes }}</h3>
						<p>Above Are the Attributes</p>
						<!-- Trigger/Open The Modal -->
						<button id="myLineBtn">Generate Line Graph</button>

							<!-- The Modal -->
							<div id="myLineModal" class="modal">
								<div class="modal-content">
									<span class="closeLine">x</span>
									<button type="button">Line Stuff </button>
								</div>
							</div>
							<br>
						<button id="myBarBtn">Generate Bar Graph</button>

							<!-- The Modal -->
							<div id="myBarModal" class="modal">
								<div class="modal-content">
								<span class="closeBar">x</span>
								<button type="button">Bar Stuff </button>
							</div>

						</div>
						<br>
						<button id="myDonutBtn">Generate Donut Chart</button>

						<!-- The Modal -->
						<div id="myDonutModal" class="modal">

						<!-- Modal content -->
						<div class="modal-content">
							<span class="closeDonut">x</span>
							<button type="button">Donut Stuff </button>
						</div>

						</div>
						<br>
						<button id="myScatterBtn">Generate SCatter Chart</button>

						<!-- The Modal -->
						<div id="myScatterModal" class="modal">

						<!-- Modal content -->
						<div class="modal-content">
							<span class="closeScatter">x</span>
							<button type="button">SCatter Stuff </button>
						</div>

						</div>

					</header>

					<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script src="{% static 'assets/js/graphs.js' %}"></script>
			<script src="{% static 'assets/js/multirange.js' %}"></script>
			<script src="{% static 'assets/js/linemodal.js' %}"></script>
			<script src="{% static 'assets/js/barmodal.js' %}"></script>
			<script src="{% static 'assets/js/donutmodal.js' %}"></script>
			<script scr="{% static 'assets/js/scattermodal.js' %}"></script>

	</body>
</html>
