<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>Dashboard - SpartanData</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>

	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="{% url 'login_home' %}">SpartanData</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'login' %}">Login</a></li>
						<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h3>Attribute Selection</h3>
						<br>
						<select id="attributeSel" name="attributeSelection" form="attributeform">
							<option value="attr1">Light 1</option>
							<option value="light2">Light 2</option>
							<option value="dark1">Dark 1</option>
							<option value="dark2">Dark 2</option>
						</select>
						<br>
						<h3> Select Range</h3>
						<br>
						<input type="range" multiple value="0, 100" />
						<br>
						<input type="submit" class="btn" value="Mean" name="meanbtn">
						<h3>{{ mean }}</h3>
						<input type="submit" class="btn" value="Median" name="medianbtn">
						<h3> {{ median }} </h3>
						<input type="submit" class="btn" value="Mode" name="modebtn">
						<h3> {{ mode }} </h3>
						<br>
						<!-- Trigger/Open The Modal -->
						<button id="myLineBtn">Generate Line Graph</button>

							<!-- The Line Modal -->
							<div id="myLineModal" class="modal"> 
								<div class="modal-content">
									<div class="modal-header">
										<span class="close" id="closeLine">&times;</span>
										<h2>Line Graph</h2>
									</div>
									<div class="modal-body">
										<form action="/action_page.php" method="get">
											<input type="text" placeholder = "title" name="Title" size="1"/>
											<input type="text" placeholder = "x-axis title" name="XAxisTitle" size="1"/>
											<input type="text" placeholder = "y axis title" name="YAxisTitle" size="1"/>
											<select id="theme" name="Themes" form="themeform">
												<option value="light1">Light 1</option>
												<option value="light2">Light 2</option>
												<option value="dark1">Dark 1</option>
												<option value="dark2">Dark 2</option>
											</select>
											<label class="switch switch-slide">
												<input class="switch-input" type="checkbox" />
												<span class="switch-label" data-on="Interactive" data-off="Not Interactive"></span> 
												<span class="switch-handle"></span>
											</label>
											<br>
											<input type="submit" class="btn" value="Create Graph" name="mybtn">
										</form>
									</div>					
								</div>
							</div>

						<button id="myBarBtn">Generate Bar Graph</button>
						
							<!-- The Bar Modal -->
							<div id="myBarModal" class="modal">
								<div class="modal-content"> 
									<div class="modal-header">
										<span class="close" id="closeBar">&times;</span>
										<h2>Bar Graph</h2>
									</div>
									<div class="modal-body">
										<form action="/action_page.php" method="get">
											<input type="text" placeholder = "title" name="Title" size="1"/>
											<input type="text" placeholder = "y axis title" name="YAxisTitle" size="1"/>
											<select id="theme" name="Themes" form="themeform">
												<option value="light1">Light 1</option>
												<option value="light2">Light 2</option>
												<option value="dark1">Dark 1</option>
												<option value="dark2">Dark 2</option>
											</select>
											<label class="switch switch-slide">
												<input class="switch-input" type="checkbox" />
												<span class="switch-label" data-on="Interactive" data-off="Not Interactive"></span> 
												<span class="switch-handle"></span>
											</label>
											<br>
											<input type="submit" class="btn" value="Create Graph" name="mybtn">
										</form>
									</div>			
								</div>
							</div>

						<button id="myDonutBtn">Generate Donut Chart</button>
						
							<!-- The Donut Modal -->
							<div id="myDonutModal" class="modal">

								<!-- Modal content -->
								<div class="modal-content">
									<div class="modal-header">
										<span class="close" id="closeDonut">&times;</span>
										<h2>Donut Graph</h2>
									</div>
									<div class="modal-body">
										<form action="/action_page.php" method="get">
											<input type="text" placeholder = "title" name="Title" size="1"/>
											<select id="theme" name="Themes" form="themeform">
												<option value="light1">Light 1</option>
												<option value="light2">Light 2</option>
												<option value="dark1">Dark 1</option>
												<option value="dark2">Dark 2</option>
											</select>
											<label class="switch switch-slide">
												<input class="switch-input" type="checkbox" />
												<span class="switch-label" data-on="Interactive" data-off="Not Interactive"></span> 
												<span class="switch-handle"></span>
											</label>
											<br>
											<input type="submit" class="btn" value="Create Graph" name="mybtn">
										</form>
									</div>			
								</div>
							</div>

						<button id="myScatterBtn">Generate Scatter Chart</button>
						
						<!-- The Scatter Modal -->
							<div id="myScatterModal" class="modal">
								<div class="modal-content">
									<div class="modal-header">
										<span class="close" id="closeScatter">&times;</span>
										<h2>Scatter Graph</h2>
									</div>
									<div class="modal-body">
										<form action="/action_page.php" method="get">
											<input type="text" placeholder = "title" name="Title" size="1"/>
											<input type="text" placeholder = "x-axis title" name="XAxisTitle" size="1"/>
											<input type="text" placeholder = "y axis title" name="YAxisTitle" size="1"/>
											<select id="theme" name="Themes" form="themeform">
												<option value="light1">Light 1</option>
												<option value="light2">Light 2</option>
												<option value="dark1">Dark 1</option>
												<option value="dark2">Dark 2</option>
											</select>
											<label class="switch switch-slide">
												<input class="switch-input" type="checkbox" />
												<span class="switch-label" data-on="Interactive" data-off="Not Interactive"></span> 
												<span class="switch-handle"></span>
											</label>
											<br>
											<input type="submit" class="btn" value="Create Graph" name="mybtn">
										</form>
									</div>
								</div>
							</div>

					</header>

					<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script src="{% static 'assets/js/graphs.js' %}"></script>
			<script src="{% static 'assets/js/multirange.js' %}"></script>
			<script src="{% static 'assets/js/modals.js' %}"></script>
			<!--<script src="{% static 'assets/js/linemodal.js' %}"></script>
			<script src="{% static 'assets/js/barmodal.js' %}"></script>
			<script src="{% static 'assets/js/donutmodal.js' %}"></script>
			<script scr="{% static 'assets/js/scattermodal.js' %}"></script> -->

	</body>
</html>
